{% extends "customers.j2" %}
{% block main_heading %}<span class="blue">{{ super() }} /</span> Add Customer{% endblock %}

{% block main_content %}

{% if get_flashed_messages() %}
<div id="flash_messages">
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div id="add_customer">
    <form id="addCustomer" action="{{ url_for('add_customers') }}" method="POST">
        <fieldset>
            <legend>Add New Customer</legend>

            <label>Name</label>
            <input type="text" id="customer_name" name="customer_name" pattern="^[a-zA-Z]+ [a-zA-Z]+$"
                placeholder="FirstName LastName" required />

            <br />

            <label>Phone Number</label>
            <input type="tel" id="customer_phone" name="customer_phone" pattern="^\(\d{3}\) \d{3}-\d{4}$"
                placeholder="(555) 123-4567" required />

            <br />

            <label>Email</label>
            <input type="email" id="customer_email" name="customer_email"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="something@example.com"
                required />

        </fieldset>

        <input type="submit" value="Add Customer" name="Add_Customer" />
        <a href="{{ url_for('customers') }}"><input type="button" value="Cancel" /></a>

    </form>
</div>

{% endblock %}

{% block footer %}{{ super.super() }}{% endblock %}