<!DOCTYPE html>
<html lang="en-US">

    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="GamePoint Database" />
        <meta name="author" content="Hoang Tran" />

        <title>GamePoint{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

    </head>

    <body>

        <header>
            <h1><i class="fa-solid fa-gamepad"></i>TTG Shop
                <br />
            </h1>
        </header>


        <nav>
            <a href="{{ url_for('customers') }}">Customers</a> | <a href="{{ url_for('products') }}">Products</a> | <a
                href="{{ url_for('stores') }}">Stores</a> | <a href="{{ url_for('store_products') }}">Store Products</a>
            | <a href="{{ url_for('orders') }}">Orders</a>
        </nav>

        

        <main>

            <h2>{% block main_heading %}{% endblock %}</h2>

            <div id="main_content">
                {% block main_content %}{% endblock %}
            </div>

        </main>

        <footer>

            <div align="center">
                <p>&copy; 2023 Hoang Tran.
                    {% block footer %}{% endblock %}
                </p>
            </div>

        </footer>

    </body>

</html>